
@{
    ViewBag.Title = "AddTeacher";
    Layout = "~/Views/Shared/SuperUserLayout.cshtml";
}

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><center><b>Create An Account For Teacher</b></center></div>
                    <div class="panel-body">
                    
                        <form action="/SuperUser/AddTeacher" method="post">

                            <label>Id</label>
                            <input type="text" name="User_Id" id="User_Id" class="form-control" placeholder="Example: john.smith@gmail.com"/><br>
                            
                            <label>First Name</label>
                            <input type="text" name="First_Name" class="form-control" placeholder="Example: john"/><br>

                            <label>Last Name</label>
                            <input type="text" name="Last_Name" class="form-control" placeholder="Example: smith"/><br>

                            <label>Password</label>
                            <input type="password" name="Password" class="form-control"/><br>

                            <label>Contact Number</label>
                            <input type="number" name="Contact_No" class="form-control" placeholder="Example: 03001234567"><br>

                            <label>Department</label>
                            <select class="form-control" name="Department_Id" id="dep"></select><br>

                            <label>Status</label>
                            <center>
                                <input type="radio" name="Status" value="Active" checked/>
                                <label>Active</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="Status" value="Inactive" checked />
                                <label>Inactive</label>
                            </center>

                            <input type="submit" class="btn btn-primary submit-btn" value="Register">

                        </form>
                    </div>
                </div>
                <center><a href="/SuperUser/ManageTeacher">Go Back</a></center>
            </div>
        </div>
    </div>
</body>

<script>
    $(function () {


        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/SuperUser/AjaxMethodForDepartment",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    len = response.length;
                    if (len == 0) {
                        $("#dep").html('<option disabled selected>--There are no Departments in DB-</option>');
                    }
                    else {
                        $("#dep").html('<option disabled selected>--Select a Department--</option>');
                        for (var i = 0; i < len; i++) {
                            $("#dep").append(new Option(response[i].Department_Id));
                        }
                    }
                },
                error: function (response) {
                    $("#dep").html('<option disabled selected>--There are no Departments in DB--</option>');
                }
            });
        });


        $("form").validate({
            rules: {
                First_Name: "required",
                Last_Name: "required",
                Password: "required",
                Contact_No: "required",
                Department_Id: "required",
                User_Id: {
                    required: true,
                    remote: {
                        url: "/SuperUser/IsUser_IdAvailable",
                        type: "post",
                        data: {
                            function () { return $("#User_Id").val(); },
                        },
                    },
                },
            },
            messages: {
                First_Name: "Please enter First Name !",
                Last_Name: "Please enter Last Name !",
                Password: "Please enter a Password !",
                Contact_No: "Please enter a Contact Number !",
                Department_Id: "Please select a Department !",
                User_Id: {
                    required: "Please enter User id !",
                    remote: "User id already exists !"
                },

            },
            submit: function (form) {
                form.submit();
            }
        });


    });
</script>