@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SuperUserLayout.cshtml";
}

<style>
    hr {
        border: 1px solid #3CCAE6;
    }
</style>
<body>
    <div class="container" style="border: none; padding: 0px; border-radius: 1px;">

        <h3 style="text-align:center;"><b>SuperUser Dashboard</b></h3>
        <hr>
        <div class="container-fluid" style="border: 1px solid #3CCAE6; text-align:center; box-shadow:10px 10px 10px 0px;">
            <img src="~/Content/images/home_pic.png" class="img-rounded" style="background-size:cover;" />
        </div>
    </div>
</body>
