@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SuperUserLayout.cshtml";
}

<style>
    hr {
        border: 1px solid #3CCAE6;
    }

    a.my_class {
        color: white;
    }
</style>
<body>
    <div class="container" style="border: none; padding: 0px; border-radius: 4px;">
        <h3><b>Manage Subjects</b></h3>
        <hr>
        <div class="container" style="border: 1px solid silver; padding: 0px; border-radius: 4px;">
            <div class="container-fluid" style="background-color: #F4F4F4; padding: 12px; border-radius: 4px;"><span class="glyphicon glyphicon-edit"></span>Subjects Name</div>
            <br>
            <div class="container">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Subjects Name</th>
                            <th style="height: 30px; width: 600px; text-align: center; font-size: 15px;">&nbsp;&nbsp;Action</th>
                        </tr>
                    </thead>
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td style="height: 40px; width: 600px; text-align: center; font-size: 13px;">&nbsp;&nbsp;<b>@s.Subject_Name</b></td>
                            <td>
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Manage_MCQ","Teacher", new {id=@s.Subject_Id},null)'"><span class="glyphicon glyphicon-cog"></span> Mannage MCQ'S</button>
                            <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Manage_TrueFalse","Teacher", new {id=@s.Subject_Id},null)'"><span class="glyphicon glyphicon-cog"></span> Mannage True/False</button>
                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Manage_Questions","Teacher", new {id=@s.Subject_Id},null)'"><span class="glyphicon glyphicon-cog"></span> Mannage Short/Long</button>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <br><br><br>
        </div>
    </div>
</body>
